*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
}

header, main, footer {
	text-align:center
}
img{
	width: 150px;
}
body{
	display: flex;
	flex-direction: column;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background-color: #F9F9F9;
}

button{
	margin-bottom:70px;

}
h1, h2{
	color: #000000cc;
}

header button{
	margin-top: 16px;
	padding: 8px 16px 8px 16px;
	border-radius: 4px;
	border: 1px red solid;
	background-color: #ff4f4f;
	color: white;
	font-weight: bold;
	border: none;
}

header, .form, main{
	width: 90%;
	max-width: 500px;
	margin: 0 auto 70px;
}

header h1, main h2{
	margin-bottom: 70px;
	
}

main h2 span{
	color: #ff4f4f;
}

main .donors{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.donor p{
	font-size: 16px;
	margin: 24px 0;
}

header p{
	font-size: 16px;
}

.blood{
	color: #ff4f4f;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
;
}

.blood::before{
	content: "";
	background-color: #ff4f4faa;
	width: 40px;
	height: 40px;
	position: absolute;
	border-radius: 50%;
	border-top-right-radius: 0;
	transform: rotate(-45deg);
}

section.form {
	display:grid;
	grid-template-columns:1fr 1fr;
	grid-gap: 45px;
	background-color: #ff4f4f;
	padding: 16px 64px;
	align-items: center;
	margin-top: -7%;
}

form input, form button{
	width: 100%;
	margin-bottom: 5px;
	padding: 8px 16px 8px 16px;
	box-sizing: border-box;
	border-radius: 4px;
	border: 1px white solid;
	background-color: #ff4f4f;
	color: white;
}
form button{
	background-color: white;
}
form #botao{
	color: black;
	background-color: white;
}

::placeholder{
	color: white;
}

.form h2{
	color: #FFFFFF;
	font-size: 20px;
	text-align: right;
}

footer{
	margin-top: auto;
}

section.form{
	transition: all 0.3s;
	
}

section.form.hide{
	opacity: 0;
	visibility: hidden;
	height: 0;
	margin-bottom: -70;
	
}